/* Add some basic styling to the page */
html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  background-image: url("DALL-E-2023-01-27-13.48.34.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: auto;
  transform: translateY(-50%);
}

#gif-container {
  width: 500px;
  height: 500px;
  text-align: center;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 30px auto 0;
}

#gif-container h1 {
  color: #d171de;
  text-align: center;
  margin-bottom: auto;
}

#gif-container img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  margin-top: -20px;
}
